<% include partials/header %>

<section class="btl">
  <section class="center">
    <section class="buttons">
      <a href="/bets" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Show
        Bets</a>
      <a href="/post" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Post
        a Bet</a>
      <a href="/" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Login
      </a>
    </section>
  </section>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-auto">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="card my-3 w-100 shadow example-card" id="example-card">
          <div class="card-header bg-dark">
            <ul class="nav nav-pills card-header-pills" id="example-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active btn-success" id="example-login-tab" data-toggle="pill" href="#example-login" role="tab"
                  aria-controls="example-login" aria-selected="true"><i class="fa fa-lock"></i> Sign In</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="nav-link btn-outline-light" id="example-register-tab" data-toggle="pill" href="#example-register"
                  role="tab" aria-controls="example-register" aria-selected="false"><i class="fa fa-user-plus"></i>
                  Create an account</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="example-tab-content">
              <div class="tab-pane show fade active" id="example-login" role="tabpanel" aria-labelledby="example-login-tab">
                <form>
                  <div class="form-group text-center">
                    <h3>Sign In</h3>
                    <p>Please enter your login information below</p>
                  </div>
                  <div class="form-group">
                    <label for="login_email"><i class="fa fa-user"></i> Email address</label>
                    <input type="email" class="form-control" id="login_email" placeholder="your_name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="login_password"><i class="fa fa-lock"></i> Password</label>
                    <input type="password" class="form-control" id="login_password" placeholder="Enter password">
                  </div>
                  <div class="form-group">
                    <p><a href="#">Forgot Password?</a></p>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-success btn-block">Sign in</button>
                  </div>
                  <div class="form-group text-center">
                    <p><small>Or sign in with</small></p>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-success btn-block btn-facebook"><i class="fa fa-facebook"></i>
                      Facebook</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade nav-rotate" id="example-register" role="tabpanel" aria-labelledby="example-register-tab">
                <form>
                  <div class="form-group text-center">
                    <h3>Example Website</h3>
                    <p>Enter the information below to create an account</p>
                  </div>
                  <div class="form-group">
                    <label for="register_email"><i class="fa fa-user"></i> Email address</label>
                    <input type="email" class="form-control" id="register_email" placeholder="your_name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="register_password"><i class="fa fa-lock"></i> Password</label>
                    <input type="password" class="form-control" id="register_password" placeholder="Your unique password">
                  </div>
                  <div class="form-group">
                    <label for="register_confirm_password"><i class="fa fa-lock"></i> Confirm password</label>
                    <input type="password" class="form-control" id="register_confirm_password" placeholder="Re-enter your password to make sure">
                  </div>
                  <div class="form-group">
                    <p><a href="#">Terms and conditions</a></p>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="register_eula">
                      <label class="custom-control-label" for="register_eula">Yes, I agree with the terms and
                        conditions</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block">Create my account</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>