<% include partials/header %>
<section class="btl">
  <section class="center">
    <section class="buttons">
      <a href="/index" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Show
        Bets</a>
      <a href="/post" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Post
        a Bet</a>
        <a href="/login" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Login
          </a>
    </section>
  </section>
</section>
<br>

<main class="container">

  <% for(data of bettors.reverse()) { %>
  <div class="card text-center">

    <div class="card-header" style="background: url('../images/cf.jpg'); color: white;">
      <h2>
        <%= data.username %>
      </h2>
    </div>

    <div class="card-body">
      <h5 class="card-title"> Line:
        <%= data.line %>
      </h5>
      <p class="card-text">Wager Amount (USD): $
        <%= data.wagerAmount %>
      </p>
      <form action="/pay" method="POST">
        <input type="submit" value="Take Bet">
      </form>
    </div>

    <form action="/post" method="post">
      <div>
      <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1em;">(Comments under construction)
      </textarea>
      </div>
      <input type="submit" value="Add Comment">
      </form>

    <div class="card-footer text" style="background-color: #8fcb38; color: white;">
      Date of Game:
    </div>

    <div class="card-footer text" style="background: url('../images/cf.jpg'); color: white;">
      Time of Game (EST):
      <%= data.time %>
    </div>

  </div>
  <br>
  <%}%>

</main>






<% include partials/footer %>