<% include partials/header %>

<section class="form-bg" style="color: white;">
  <form class="needs-validation" novalidate action="/post" method="POST">
    <section class="btl">
      <section class="center">
        <section class="buttons">
          <a href="/index" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Show
            Bets</a>
          <a href="/post" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Post
            a Bet</a>
            <a href="/login" class="btn btn-outline-secondary btn-lg" style="color: white;" role="button" aria-pressed="true">Login
              </a>
        </section>
      </section>
    </section>
    <br>

    <section class="formContainer">

      <div class="form-row">
        <div class="col-md-12 mb-12"> <label for="username">Name:</label>
          <input type="text" class="form-control" id="username" placeholder="Full Name" name="username" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-12"> <label for="line">Line </label>
          <input type="text" class="form-control" id="line" name="line" placeholder="e.g. Kansas -4.5" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-12">
          <label for="wagerAmount">Wager Amount(USD): </label>
          <input type="text" class="form-control" id="wagerAmount" name="wagerAmount" placeholder="e.g. 45" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-12"> <label for="date">Date of Game:</label>
          <input type="date" class="form-control" id="date" name="date" placeholder="Date" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-12"> <label for="time">Time of Game:</label>
          <input type="time" class="form-control" id="time" name="time" required>
          <br>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <button class="btn btn-dark" type="submit">Submit Bet</button>
      </div>
    </section>

  </form>
</section>

<% include partials/footer %>