<% include partials/header %>
<section class="mid">
    <div id="sports" class="btn-group-vertical btn-block">

        <a href="/post" class="btn btn-secondary">NFL
            <img height="30px" width="40px" src="./images/football.png">
        </a>

        <a href="/post" class="btn btn-secondary">NBA
            <img height="40px" width="40px" src="./images/basketball.png">
        </a>

        <a href="/post" class="btn btn-secondary"> College Football
            <img height="30px" width="40px" src="./images/football.png">
        </a>

        <a href="/post" class="btn btn-secondary"> College Basketball
            <img height="40px" width="40px" src="./images/basketball.png">
        </a>

        <a href="/post" class="btn btn-secondary"> MLB
            <img height="30px" width="30px" src="./images/baseball.png">
        </a> 

        <a href="/post" class="btn btn-secondary"> NHL
            <img height="30px" width="30px" src="./images/hockey.png">
        </a>      

        <a href="/post" class="btn btn-secondary"> Soccer
            <img height="30px" width="30px" src="./images/soccer.png">
        </a>  

        <a href="/post" class="btn btn-secondary"> MMA
            <img height="30px" width="30px" src="./images/mma.png">
        </a>  
        
        <a href="/post" class="btn btn-secondary"> Golf
            <img height="30px" width="30px" src="./images/golf.png">
        </a>  

    </div>
</section>
<% include partials/footer %>