* {
    font-family: helvetica;
}

body {
    height: 100%;
    min-height: 100vh;
    background: url('../images/Field.jpg') repeat center center fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

a:hover {
    background-color: white !important;
    color: black !important;
}

.container {
    opacity: 0.9;
    padding-top: 15px;
    background-color: black;
}

.formContainer {
    background: url('../images/green.jpg') repeat center center fixed;
    padding: 30px 30px 30px 30px;
    margin: 15px 15px 15px 15px;
    color: white;
    opacity: 0.9;
}

.btl {
    background-color: black;
    padding: 30px 30px 30px 30px;
}
